@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-Medium.eot');
	src: url('fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Avenir-Medium.woff') format('woff'),
		url('fonts/Avenir-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	font-family: Avenir !important;
	font-size: font: 100.01%/150%;
	background: #fff;
	height: 100%;
}

.ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button,
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c,
.ui-body-a, .ui-body-b, .ui-body-c, 
.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a,
.ui-btn-active {
	font-family: Arial, Helvetica, sans-serif !important;
}

.header-bar  {
	width: 100%;
	background: #0055a5;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
    padding-top:12px;
}

.header-bar h1.page-title {
	width: 70%;
	padding:12px 0;
	margin: 0 auto;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 300;
}
.block {
    margin-bottom: 10px;
}
.block .block-img {
	float: left;
	width: 30%;
}
.block .block-img img {
	width: 100%;
	display: block;
}
.block .block-detais {
	width: 66%;
	float: left;
	margin-left: 4%;
}
.block .block-detais .textbox {
	border: 1px solid #a9a9a9;
	background: #fff;
	padding: 3px 5px;
	font-size: 11px;
}
.block .block-detais .name {
	margin: 5px 0px;
	font-size: 13px;
	font-weight: bolder;
}
.block .block-detais .ui-submit {
	border: 0px;
	margin: 0px;
	background: #2b9cdf;
	color: #fff;
	border-radius: 0px;
	width: 100px;
}

/*--- 28/11/2016 ---*/

.content-primary  { width:100%; float:left; padding:0; margin:45px 0 0 0;}

.innerContent p.pagediscription 	{ width: auto; margin: 0 0 20px 0; padding: 0 0 0 0px; font-size: 0.9em;}
.innerContent h3 	{ font-size: 1.3em; margin: 0 0 5px 0; padding: 0; font-weight: normal;}
.innerContent li    { list-style: none; margin-bottom:12px;}
.innerContent .search-bar 	{ width: 100%; margin-top:20px;}
.search-bar .ui-btn { margin: 0; padding: 0;}
.search-bar div.ui-input-text { margin: 0; padding: 0;}
.innerContent .search-bar input.search-btn	{ width: 27px; height: 26px; position: absolute; top: 16px; left: 20px; background-position: right !important; background: url(images/search-icon.png) no-repeat; border: none; box-shadow: none; cursor: pointer;}
.innerContent .search-bar input.search-input	{ width: 90%; margin: 0 0 22px 0; height: 57px; padding: 0 2% 0 50px; outline: 2px solid #e2e9e6; border: none; font-size: 1.2em; color: #9b9b9b; background: #f7f7f7;}
.innerContent .block 	{ width: 100%; float: left; border-bottom: 1px solid #0055a5; padding: 0 0 24px 0; margin: 0 0 25px 0;}
.innerContent .block:last-child 	{ margin-bottom: 0px; border-bottom: none; padding-bottom: 0px;}
.innerContent .block-detais .block-name 	{ font-size: 1.25em;}
.innerContent .block-detais .block-entry	{ margin-top: 6px; width: 100%; float: left;}
.innerContent .block-entry .avtar-pic		{ width: 33px; height: 33px; float: left;}
.innerContent .block-entry .avtar-pic img 	{ border-radius: 50%; width: 100%; height: 100%;}
.innerContent .block-detais .block-entry label 	{ line-height: 33px; font-size: 1.25em; color: #9b9b9b; margin-left: 10px;}
.ui-body-a .innerContent, .ui-overlay-a .innerContent	{ color: #212121;}
.ui-body-a, .ui-overlay-a 	{ border: none;}

.footer_tab	{ width: 100%; background: #212121; position: fixed; bottom: 0;}
.footer_tab ul 	{ margin: 0px; padding: 0px; list-style-type: none; position:relative;}
.footer_tab ul li 	{ width: 20%; text-align: center; float: left; list-style-type: none; padding: 0 0; background:#212121;}
.footer_tab ul li.active, .footer_tab ul li.current{ background: #0055a5;}
.footer_tab ul li:focus { background:#212121;}
.footer_tab ul li a 	{ display: block; padding: 14px 0;}
.footer_tab ul li a img 	{ width: 30px; vertical-align: middle;}

.footer_tab ul li .level-two  { width:40%; position:absolute; bottom:-500px; right:0; background:#fff; box-shadow: 0.5px 0.866px 5px 0px rgba( 0, 0, 0, 0.2);  -webkit-transition-duration:0.5s;transition-duration:0.5s; z-index:-999;}
.footer_tab ul li .level-two li { width:100%; float:left; padding:0; margin:0; border-bottom:1px solid #efefef; background:#fff;}
.footer_tab ul li .level-two li a   { display:block; color:#333; margin:0; padding:10px 0; list-style:none; text-decoration:none;}
.footer_tab ul li .level-two li:hover { background:#f5f7f7;}
.footer_tab ul li .level-two li:hover a { color:#42a5f5;}
.footer_tab ul li .level-two.show-menu { bottom:0; -webkit-transition-duration:0.5s;transition-duration:0.5s;}


/*--- 18-Jan-2017 JD ---*/
.footer_tab ul li .level-two  { width:45%; position:absolute; bottom:-500px; right:auto; background:#fff; box-shadow: 0.5px 0.866px 5px 0px rgba( 0, 0, 0, 0.2);  -webkit-transition-duration:0.5s;transition-duration:0.5s; z-index:-999;}
.footer_tab ul li .level-two li { width:100%; float:left; padding:0; margin:0; border-bottom:1px solid #efefef; background:#fff;}
.footer_tab ul li .level-two li a   { display:block; color:#333; margin:0; padding:10px 0; list-style:none; text-decoration:none;}
.footer_tab ul li .level-two li:hover { background:#f5f7f7;}
.footer_tab ul li .level-two li:hover a { color:#42a5f5;}
.footer_tab ul li .level-two.show-menu { bottom:0; -webkit-transition-duration:0.5s;transition-duration:0.5s;}

.footer_tab ul li .level-three  { width:45%; position:absolute; bottom:-500px; right:auto; background:#fff; box-shadow: 0.5px 0.866px 5px 0px rgba( 0, 0, 0, 0.2);  -webkit-transition-duration:0.5s;transition-duration:0.5s; z-index:-999;}
.footer_tab ul li .level-three li { width:100%; float:left; padding:0; margin:0; border-bottom:1px solid #efefef; background:#fff;}
.footer_tab ul li .level-three li a   { display:block; color:#333; margin:0; padding:10px 0; list-style:none; text-decoration:none;}
.footer_tab ul li .level-three li:hover { background:#f5f7f7;}
.footer_tab ul li .level-three li:hover a { color:#42a5f5;}
.footer_tab ul li .level-three.show-menu { bottom:0; -webkit-transition-duration:0.5s;transition-duration:0.5s;}
/*--- 18-Jan-2017 JD---*/


/*--- 28/11/2016 ---*/

/*--- 29/11/2016 Login ---*/

.background-login 	{ width: 100%; background: url(../css/images/login_bg.jpg) no-repeat; background-size: 100% 100%; height: 100%;}
.background-login .ui-content { padding-top: 0; padding-bottom: 0;}
.background-login .screen-one, .background-login .innerContent, .background-login .loginMain { height: 100%;}
.background-login .loginpart { height: 100%; display: table;}
.background-login .loginpart .loginpart-inner  { height: 100%; display: table-cell; vertical-align: bottom;} 
.innerContent .loginMain	{ width: 100%;}
.background-login .loginMain .logo	{ width: 100%; text-align: center; margin-bottom: 40px;}
.loginMain .logo .innerLogo	{ float: none; display: inline-block; width: 140px;}
.loginMain .logo a 	{ display: block;}
.loginMain .logo a img 	{ width: 100%;}

.loginMain .loginpart	{ width: 100%;}
.loginpart .login-row 	{ width: 100%; margin-bottom: 20px; float: left;}
.loginpart .login-row label	{ border-bottom: 2px solid #595c5e; float: left; width: 100%; padding-bottom: 15px;}
.loginpart .login-row label i.login-icon { width: 40px; float: left; padding: 5px; text-align: center;}
.loginpart .login-row label i.login-icon img 	{ width: 50%;}
.loginpart .login-row .login-input	{ width: 75%; float: left; background: transparent; border: none; color: #fff; /*font-size: 1.45em;*/ font-size: 1.2em;}
.loginpart .login-row .login-input:focus 	{ outline: none;}
.login-row div.ui-input-text	{ margin: 0px;}
.login-input::-moz-placeholder 	{ color: #fff;}
.loginpart .signin-button	{ text-align: center; margin-bottom: 78px;}
.signin-button button.signin_btn	{ width: 100%; float: none; margin: 0px 0 0 0; display: inline-block; background: #ff3366; color: #fff; border: none; font-size: 1.2em; text-transform: uppercase; border-radius: 0px; padding: 10px 0;}
.gethelp	{ width: 100%; text-align: center; margin-bottom: 10px;}
.gethelp a 	{ font-size: 1.4em; color: #afafaf; text-decoration: underline;}


/*--- 29/11/2016 Login ---*/


/*------------Video-Library-------------*/

.header-bar .back-top { width: 24px; float: left; padding: 0; margin: 18px 0 0 10px;}
.header-bar .back-top img { width: 100%;}

.content_libraryMain { background:#fff;}
.changeBg { background: #f5f5f5;}
.video-library  { padding: 25px 25px 100px 25px; margin: 0px;  float: left; }
.video-library .video-block { width: 100%; float: left; padding: 0px; margin: 0px 0 25px 0; border:solid 1px #e2e9e6; background:#fff; box-shadow: 0.5px 0.866px 5px 0px rgba( 0, 0, 0, 0.2);}
.video-block .view-title { width: 88%; float: left; padding: 12px 15px; margin: 0px;}
.view-title label { width: 100%; float: left; padding: 0px; margin: 0px; background: url(../css/images/video-view-bg.jpg) no-repeat right center;}
.video-block .video-box { width: 100%; float: left; padding: 0px; margin: 0px;}
/*.video-box video { width: 100%; float: left; padding: 0px; margin: 0px; height: 180px; object-fit:cover;}*/
.video-box video { width: 100%; float: left; padding: 0px; margin: 0px; /*height: 180px;*/}
.video-block .video-caption { width: 100%; float: left; margin: 0px; border-bottom: solid 1px #e2e9e6;}
.video-block .video-caption p { padding: 15px 15px; margin: 0px; font-size: 0.9em;}
.video-block .video-view 	{ width: 100%; float: left; padding: 18px 0 15px 0; margin: 0px;}
.video-block .video-view img { width: 70px; padding: 0 0 0 15px;  cursor: pointer;}
.video-block .video-view img.audio-btn  { width: 70px; float:right; padding: 0 15px 0 0;  cursor: pointer;}
.video-block .video-view img.download-btn  { width: 70px; float:center;  cursor: pointer;}


.dashboard-main 	{ background: #f5f5f5;}
.dashboard-box 	{ width: 90%; float: left; padding: 5%; margin: 0px 0 25px 0; border:solid 1px #e2e9e6; background:#fff; box-shadow: 0.5px 0.866px 5px 0px rgba( 0, 0, 0, 0.2);}
.dashboard-box .dash-icon 	{ width: 20%; float: left; padding: 0px; margin: 0px;}
.dashboard-box .dash-icon img 	{ width: 100%;}
.dashboard-box .dash-disc { width: 70%; float: right; padding: 0px; margin: 0px;}
.dashboard-box .dash-disc p { margin: 0px; padding: 0px; font-size: 0.9em;}

.how-use 	{ width: 100%; float: left; padding: 0px; border:solid 1px #e2e9e6; background:#fff; box-shadow: 0.5px 0.866px 5px 0px rgba( 0, 0, 0, 0.2); text-align: center;}
.how-use h3 	{  padding: 10px 15px; margin: 0px; background: #66bb6a; color: #fff; font-weight: normal; text-align: left;}
.how-use ul { margin: 0; padding: 0 15px; text-align: left;}
.how-use ul li 	{ width: 100%; float: left; padding:8px 0px; margin: 0px; list-style: none; border-bottom: solid 1px #eeefef; color: #000; text-decoration: none; font-weight: normal; font-size: 0.9em;}
.how-use ul li a 	{ width: 100%; float: left; padding: 8px 0; margin: 0px; color: #000; text-decoration: none; font-weight: normal; font-size: 0.9em;}
.how-use .start-training  { width: auto; padding: 8px 18px; margin: 15px 0; float: none; display: inline-block; background: #9c27b0; border-radius: 5px; color: #fff; text-decoration: none; text-transform: uppercase;}

/*------------Video-Library-------------*/

/*------------Take-Quiz-------------*/
.background-dashboard .quiz-screen {width: 100%; margin: 0 0 0 0px; float: left;}
.quiz-screen .quiz_title {background: #f5f5f5; border-bottom: 1px solid #e2e9e6; width: 100%; float: left;}
.quiz-screen .quiz_title p {padding: 14px; color: #9b9b9b; margin: 0 0 0 0px; font-size: 1.0em;}
.quiz-screen .quiz_inner {padding: 25px; float: left; position: relative;}
.quiz_inner .quiz_question { border-bottom: 1px solid #e2e9e6; width: 100%; float: left; }
.quiz_inner .quiz_answers {width: 100%; float: left;}
.quiz_inner .quiz_question h3 {margin: 0 0 10px 0px; font-weight: 100; font-size: 1.2em;}
.quiz_inner .quiz_answers input {left: 0px; height: auto; width: auto;}
.quiz_inner .quiz_answers label {margin-left: 22px; color: #9b9b9b; cursor: inherit; font-size: 1.0em;}
.quiz_inner .quiz_answers .ui-radio {z-index: 0;}
.quiz_inner .next-button {width: 100%; float: left; margin-bottom: 25px;}
/*.quiz_inner .next-button button.next_btn { width: 100%; float: none; margin: 0px 0 0 0; display: inline-block; background: #0055a5; color: #fff; border: none; font-size: 1.2em; text-transform: uppercase; border-radius: 0px; padding: 10px 0;}*/
.quiz_inner .next-button button.next_btn { width: 100%; float: none; margin: 0px 0 15px 0; display: inline-block; background: #4caf50; color: #fff; border: none; font-size: 1.2em; text-transform: uppercase; border-radius: 0px; padding: 10px 0;}
.quiz_inner .next-button button.save_btn { width: 100%; float: none; margin: 0px 0 0px 0; display: inline-block; background: #bd362f; color: #fff; border: none; font-size: 1.2em; text-transform: uppercase; border-radius: 0px; padding: 10px 0;}
.quiz_inner .quiz-pagination {width: 100%; float: left; text-align: center; margin-bottom: 10px;}
.quiz_inner .quiz-pagination span {font-size: 1.2em; color: #0055a5;}
.quiz_inner .bottom_area {position: fixed; left: 0; bottom: 54px; width: 100%; background:#fff;}
.quiz_inner .bottom_area .bottom_area_inner {padding: 25px;}

.video-inner 	{ width: 100%; float: left; padding: 0px; margin: 0px;}
.video-inner .video-box 	{ width: 100%; float: left; padding: 0px; margin: 0 0 0px 0;}
.video-inner video 	{ width: 100%; float: left; padding: 0px; /* height: 200px; object-fit:inherit;*/}

h3.video-cat  { width:100%; float:left; font-size: 1em; text-align: left; margin: 0 0 10px 0; padding: 0; color: #0055a5;}
.video-inner .video-detial 	{ text-align: center;}
.video-detial .dash-disc p { text-align: left;}
.video-inner a.take-quiz { width: auto; padding: 10px 25px 8px 25px; margin: 15px 0 45px 0px; float: none; display: inline-block; background: #42a5f5; border-radius: 5px; color: #fff; text-decoration: none; text-transform: uppercase; border: solid 1px #0d89ed;}

.video-pagination 	{ width: 100%; float: left; padding: 0px; margin: 0px 0 20px 0; text-align: center;}
.video-pagination ul { margin: 0; padding: 0;}
.video-pagination ul li 	{ width: auto; float: none; display: inline-block; list-style: none;}
.video-pagination ul li a 	{ display: block;}
.video-pagination ul li span 	{ width: 20px; height: 20px; display: inline-block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; line-height: 20px; text-align: center; background: #0055a5; color: #fff; font-size: 0.8em;}
.video-pagination ul li label 	{ float: left; width: 100%; color: #34495e; text-transform: capitalize; }


/*------------Take-Quiz-------------*/

/*------------18-01-2017_View-Profile  JD-------------*/

.content-main 	{ background: #f5f5f5; width: 100%; float: left; padding: 0px;}
.view-profile 	{ width: 80%; float: left; margin: 5% 5% 100px 5%; padding: 5%; border: solid 1px #e2e9e6; box-shadow: 0.5px 0.866px 5px 0px rgba( 0, 0, 0, 0.2); background: #fff;}
.view-profile .view-profile-block 	{ width: 100%; float: left; position: relative; margin-bottom: 10px;}
.view-profile .view-profile-block.pic 	{ margin-bottom: 20px;}
.view-profile .view-profile-block .view_img	{ width: 22%; float: left; margin-right: 3%;}
.view-profile-block .avatar 	{ width: 100%; float: left; border: 1px solid #eeefef;}
.view-profile-block .avatar img 	{ width: 100%; height: 100%;}
.view-profile-block input.profile-pic 	{ width: 73%; float: right; position: absolute; top: 50%; left: auto; margin-top: -18px; border: 1px solid #eeefef; padding: 5px 1%; border-radius: 2px; /*box-shadow: 1px 1px 2px #000;*/}
.view-profile-block .viewtext	{ width: 100%; float: left; border-bottom: 1px solid #eeefef;}
.view-profile-block .viewtext span 	{ width: 100%; float: left; padding: 0px; margin: 0 0 0 0; font-size: 13px; color: #0055a5; font-weight: 300;}
.view-profile-block .viewtext p 	{ width: 100%; float: left; margin: 0px; padding: 0 0 15px 0; font-size: 15px; font-weight: 300; color: #9b9b9b;}

/*------------18-01-2017_View-Profile  JD-------------*/

/*----------Popup------------*/

#myPopup    { width:70%; position:fixed; top:50%; left:8%; margin:-130.5px 0 0 0; background:#f5f5f5; display:none;}
#myPopup h3     {
        width: 100%;
        float: left;
        padding: 0 0 15px 0;
        margin: 0;
        font-size: 0.9em;
        color: red;
        text-align: center;
}
#myPopup p {
        width: 100%;
        float: left;
        padding: 20px 0 0 0;
        margin: 0px 0 0 0;
        font-size: 0.9em;
        border-top: 1px solid #ccc;
        text-align: center;
}
#myPopup .button-row {
    width:100%;
    float:left;
    padding:0px;
    margin:15px 0 0 0;
    text-align:center;
}

#myPopup .button-row button {
   border: none;
   background: #66bb6a;
   color:#fff;
   float: none;
   display: inline-block;
   padding: 12px 30px 9px 30px;
   margin: 0;
}

.overlay {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index:999;
    display:none;
}

.overlay.show, #myPopup.show-popup   {
    display:block;
}

/*------------My-Subscriptions-------------*/

.my-view-subscriptions	{ width: 80%; float: left; margin: 5% 5% 100px 5%; padding: 5%; border: solid 1px #e2e9e6; box-shadow: 0.5px 0.866px 5px 0px rgba( 0, 0, 0, 0.2); background: #fff;}
.my-view-subscriptions .sub-title	{ width: 100%; float: left;}
.my-view-subscriptions .sub-title .sub-icon	{ width: 20%; float: left; margin-right: 5%;}
.my-view-subscriptions .sub-title .sub-icon img 	{ width: 100%;}
.my-view-subscriptions .sub-title .sub-text 	{ width: 75%; float: left;}
.my-view-subscriptions .sub-title .sub-text p 	{ width: 100%; float: left; font-size: 0.9em; margin: 0px; padding: 0px;}

.my-view-subscriptions .subscriptions-disc	{ width: 100%; float: left; margin-top: 20px;}
.subscriptions-disc h3 	{ width: 100%; float: left; font-size: 16px; font-weight: 300; margin: 0px; padding: 0px;}
.subscriptions-disc .subscriptions-table 	{ width: 100%; float: left; margin-top: 10px;}
.subscriptions-disc .subscriptions-table table 	{ width: 100%; text-align: left; display: inline-table; border: 1px solid #e2e9e6;}
.subscriptions-disc .subscriptions-table table thead tr th, .subscriptions-table table tbody tr td 	{ border-top: 1px solid #e2e9e6; border-bottom: 1px solid #e2e9e6; font-size: 13px;}
.subscriptions-table table tbody tr td 	{ border-top: 1px solid #e2e9e6; border-bottom: 1px solid #e2e9e6; color: #0055a5; font-weight: 300;}
.subscriptions-table table tbody tr td.firstTd	{ color: #000;}
.subscriptions-table table tbody tr td.action	{ background: #efefef; border: 1px solid #e7e7e7; border-radius: 5px; float: left; margin: 2px; padding: 2px 2px; color: #444444;}

/*------------My-Subscriptions-------------*/

/*------------Video-Details 24-01-2017-------------*/

.video-details 	{ width: 90%; float: left; margin: 5% 5% 5% 5%; padding: 0; border: solid 1px #e2e9e6; box-shadow: 0.5px 0.866px 5px 0px rgba( 0, 0, 0, 0.2); background: #fff;}
.video-details:last-child 	{ margin-bottom: 100px;}
.video-details .video-detail-box 	{ width: 90%; float: left; border-bottom: 1px solid #e2e9e6; padding: 5%;}
.video-details .video-detail-box .detail-header 	{ font-size: 20px;}
.video-details .video-detail-content	{ width: 90%; float: left; padding: 5%; border-bottom: 1px solid #e2e9e6;}
.video-details .video-detail-content.brd-none	{ border-bottom: none;}
.video-detail-content p 	{ margin: 0px; padding: 0px; width: 100%; float: left; font-size: 14px; margin-bottom: 5px;}
.video-detail-content p .icon.clock 	{ background: url(images/icon-clock.png) no-repeat; width: 12px; height: 12px; float: left; background-size: 100% 100%; margin: 3px 5px 0 0;}
.video-detail-content p .icon.calendar 	{ background: url(images/icon-calendar.png) no-repeat; width: 12px; height: 12px; float: left; background-size: 100% 100%; margin: 3px 5px 0 0;}
.video-detail-content p .icon.user 	{ background: url(images/icon-user.png) no-repeat; width: 12px; height: 12px; float: left; background-size: 100% 100%; margin: 3px 5px 0 0;}
.video-detail-content p .mortarboard 	{ background: url(images/icon-graduation.png) no-repeat; width: 12px; height: 12px; float: left; background-size: 100% 100%; margin: 3px 5px 0 0;}
.video-detail-content p .check 	{ background: url(images/icon-checked.png) no-repeat; width: 12px; height: 12px; float: left; background-size: 100% 100%; margin: 3px 5px 0 0;}
.video-detail-content p .videocamera 	{ background: url(images/icon-videocamera.png) no-repeat; width: 12px; height: 12px; float: left; background-size: 100% 100%; margin: 3px 5px 0 0;}
.video-detail-content p .comments 	{ background: url(images/icon-chat.png) no-repeat; width: 12px; height: 12px; float: left; background-size: 100% 100%; margin: 3px 5px 0 0;}
.video-details .takeQuiz-btn	{ width: 100%; float: left; text-align: center;}
.takeQuiz-btn a.take-quiz { width: auto; padding: 10px 25px 8px 25px; margin: 15px 0 15px 0px; float: none; display: inline-block; background: #42a5f5; border-radius: 5px; color: #fff; text-decoration: none; text-transform: uppercase; border: solid 1px #0d89ed;}

.video-detail-content .detail-pic-left	{ width: 100px; float: left;}
.video-detail-content .detail-pic-left .detail-pic 	{ width: 75px; height: 75px; float: left;}
.video-detail-content .detail-pic-left .detail-pic img 	{ width: 100%; height: 100%; border-radius: 50%;}
.video-detail-content .detail-tital 	{ width: 60%; float: left;}
.video-detail-content .detail-tital h4 	{ width: 100%; float: left; margin: 0px; padding: 0px; color: #42a5f5; font-size: 18px;}
.video-detail-content .detail-tital h4 a 	{ color: inherit;}
.video-detail-content .detail-tital p 	{ width: 100%; float: left; margin: 0px; padding: 0px; color: #757575; font-size: 13px;}
.video-detail-content .expandable-content 	{ width: 100%; float: left; height: 100px; overflow: hidden; margin-top: 10px; position: relative; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.video-detail-content .expandable-content.in 	{ height: auto; margin-bottom: 35px; overflow: inherit;}
.video-detail-content .expandable-content.in .expandable-indicator	{ bottom: -35px;}
.video-detail-content .expandable-indicator	{ position: absolute; left: 0px; bottom: -5px; width: 100%; float: left; text-align: center;}
.video-detail-content .expandable-indicator i.icon-down-arrow	{ width: 20px; height: 20px; float: none; display: inline-block; background: #42a5f5 url(images/icon-down-arrow.png) no-repeat center center; background-size: 50% 50%; padding: 5px; border-radius: 50%; cursor: pointer;}
.video-detail-content .expandable-content.in .expandable-indicator i.icon-down-arrow 	{ background: #42a5f5 url(images/icon-up-arrow.png) no-repeat center center; background-size: 50% 50%;}

.video-detail-content .comments-section	{ width: 100%; float: left;}
.video-detail-content .comments-section .comments-header 	{ width: 100%; float: left; margin-bottom: 20px;}
.comments-section .comments-header .media-body	{ width: 60%; float: left;}
.comments-header .media-body h2 	{ width: 100%; float: left; margin: 0px; padding: 0px; font-size: 28px;}
.comments-header .media-body p 		{ width: 100%; float: left; margin: 0px; padding: 0px; font-size: 14px;}
.comments-header .media-right		{ width: 40%; float: left;}
.comments-header .media-right button.newComment-btn 	{ max-width: 150px; width: 100%; float: right; text-align: center; background: #42a5f5; border: 1px solid #0d89ed; color: #fff; margin: 0px; box-shadow: none; border-radius: 3px; padding: 8px; font-size: 14px; line-height: normal; text-transform: uppercase;}
.comments-header .media-right button.newComment-btn .icon-plus	{ width: 18px; height: 18px; float: left; background: url(images/icon-plus.png) no-repeat left center; background-size: 80% 80%;}

.comments-section .addComments	{ width: 100%; float: left; margin: 0 0 20px 0; display: none;}
.comments-section .addComments.show 	{ display: block;}
.comments-section .addComments label 	{ width: 100%; float: left; color: #0055a5; font-size: 14px;}
.addComments .ui-input-text 	{ width: 100%; float: left; padding: 0px; margin: 0px;}
.comments-section .addComments input.comment 	{ width: 100%; float: left; height: 36px; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #eeefef; font-size: 16px;}
.comments-section .addComments button.addcomment-btn	{ width: auto; float: left; padding: 8px 12px; background: #42a5f5; color: #fff; text-transform: uppercase; box-shadow: none; border: 1px solid #0d89ed; border-radius: 3px; margin: 20px 0 0 0; font-size: 14px;}

.comments-section .commentsnumber	{ width: 100%; float: left; border: 1px solid #eeefef; min-height: 60px; line-height: 60px; margin-bottom: 20px;}
.comments-section .commentsnumber .commentsnumber-left 	{ width: 18%; float: left; margin-right: 2%; vertical-align: middle;}
.commentsnumber-left .comment-icon 	{ width: 100%; float: left; text-align: center; background: #66bb6a;}
.commentsnumber-left .comment-icon img 	{ max-width: 50px; width: 70%; vertical-align: middle;}
.commentsnumber .commentsnumber-middle	{ width: 60%; float: left; vertical-align: middle;}
.commentsnumber .commentsnumber-middle p 	{ margin: 0px;}
.commentsnumber .commentsnumber-right	{ width: 20%; float: left; vertical-align: middle; text-align: right;}
.commentsnumber-right a 	{ margin-right: 10px; padding: 8px 12px; background: #efefef; text-decoration: none; border-radius: 3px;}

.comments-section .commentshow	{ width: 100%; float: left;}
.comments-section .commentshow ul 	{ margin: 0px; padding: 0px; list-style-type: none;}
.comments-section .commentshow ul li 	{ width: 96%; float: left; border: 1px solid #eeefef; padding: 2%; word-break: break-all;}
.commentshow ul li .commentshow-left 	{ width: 50px; float: left; margin-right: 2%;}
.commentshow ul li .commentshow-left .icon-block 	{ width: 50px; height: 50px; line-height: 46px; background: #efefef; border-radius: 50%; text-align: center;}
.commentshow ul li .commentshow-left .icon-block img 	{ width: 60%; vertical-align: middle;}
.commentshow ul li .commentshow-middle	{ width: 57%; float: left;}
.commentshow ul li .commentshow-middle h4 	{ width: 100%; float: left; margin: 0px; font-size: 15px; font-weight: 300;}
.commentshow ul li .commentshow-middle h4 a 	{ text-decoration: none; color: inherit;}
.commentshow ul li .text-caption	{ width: 100%; float: left; font-size: 12px; margin-top:10px;}
.commentshow ul li .text-caption img.logo 	{ width: 20px; vertical-align: middle; float:left;}
.commentshow ul li .text-caption span, .commentshow ul li .text-caption a, .commentshow ul li .text-caption a img 	{ float: left; text-decoration: none;}
.commentshow ul li .text-caption a  { color: #0055a5; margin-right: 5px; margin-top:4px; margin-bottom:6px;}
.commentshow ul li .text-caption span 	{ color: #a8a8a8; margin-top:4px;}
.commentshow ul li .text-caption span.days 	{ float: none; color: #a8a8a8;}

.commentshow ul li .commentshow-right	{ width: 20%; float: right;}
.commentshow ul li .commentshow-right a 	{ float: right; background: #efefef; padding: 5px 12px; margin: 0; text-decoration: none; border-radius: 3px;}
.text-caption .daystatus	{ float: left;}
.text-caption .daystatus img.timepic    { margin-top:1px; float:left; margin-right:2px;}

/*------------Video-Details 24-01-2017-------------*/

/*------------ Static 24-02-2017 -------------*/

.my-view-subscriptions .static-page-disc	{ width: 94%; float: left; border: 1px solid #dae1de; margin: 5% 0 0 0; padding: 10px 3%;}
.static-page-disc .static-page-title	{ width: 100%; float: left; margin-bottom: 20px;}
.static-page-disc .static-page-title img 	{ width: 50px; height: 50px; padding-right: 10px; float: left;}
.static-page-title h4.static-page-heading	{ width: auto; float: left; font-size: 20px; font-weight: 400; margin: 12px 0 0 0;}
.static-page-disc .static-page-right	{ width: auto; float: left;}
.static-page-right p 	{ width: 100%; float: left; font-size: 13px; margin-top: 0;}
.static-page-right h5 	{ width: 100%; float: left; margin-top: 0px; margin-bottom: 10px; font-size: 17px; font-weight: 500;}

.static-page-title .contact-us-btn	{ width: auto; float: right; margin: 5px 0 0 0; background: #42a5f5; color: #fff; text-decoration: none; padding: 5px 10px; border-radius: 2px; border:1px solid #0d89ed; font-size: 13px;}

.my-view-subscriptions .contactus .callsupport	{ width: 100%; float: left; text-align: center; font-size: 16px; font-weight: 700;}
.my-view-subscriptions form.contact-form	{ width: 100%; float: left;}
.contact-form label 	{ width: 100%; float: left; color: #42a5f5; margin-bottom: 20px; font-size: 15px;}
.contact-form label .ui-input-text	{ padding: 0px; margin: 0px;}
.contact-form label .ui-input-text input 	{ border: none; border-bottom: 1px solid #eeefef; width: 98%; padding-bottom: 10px; font-size: 15px;}
.contact-form label .ui-input-text.ui-focus input 	{ border-bottom: 1px solid #0d89ed; border-radius:0px;}
.contact-form label .ui-input-text.ui-focus input:focus 	{ outline: none;}
.contact-form label .ui-select .ui-btn 	{ width: 100%; float: left; margin: 10px 0; padding: 0px; text-align: left; border-bottom: 1px solid #eeefef; border-radius: 0px; color: #000;}
.contact-form label .ui-select .ui-btn.ui-btn-active 	{ background: transparent; border: none; border-bottom: 1px solid #0d89ed; font-weight: normal;}
.contact-form label textarea.ui-input-text	{ border: none; border-bottom: 1px solid #eeefef; border-radius: 0px;}
.contact-form label textarea.ui-input-text.ui-focus	{ border-bottom: 1px solid #0d89ed;}
.static-page-disc button.sendMessage	{ width: auto; float: left; background: #42a5f5; border: 1px solid #0d89ed; border-radius: 2px; color: #fff; font-size: 15px; text-transform: uppercase; padding: 5px 10px;}

/*------------ Static 24-02-2017 -------------*/
/*---------------01-03-2017---------------*/

.video-block .video-box, .video-inner .video-box { position:relative;}
.video-box .video-box-loader  { position:absolute; display:none ;top:0; left:0; height:100%; width:100%; background:url(../css/images/video_overlay_bg.png) repeat left top; }
.video-box .video-box-loader img {  width: 40px; height: 40px; position: relative; left: 50%; top: 50%; margin: -20px 0 0 -20px;}
/*---------------01-03-2017---------------*/
/*---------------02-03-2017---------------*/

.video-pagination ul li.active span { background: #999;}
.video-detial .videoInner_download  { width: auto; float:none; display:inline-block;}
.videoInner_download .download_btn  { margin: 0px 0 20px 0; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out;}
.videoInner_download .delete_btn  { margin: 0px 0 20px 0; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out;}
.videoInner_download .download_btn.flip-btn    { -ms-transform: rotateY(360deg); -webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
.videoInner_download .delete_btn.flip-btn    { -ms-transform: rotateY(360deg); -webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
.videoInner_download .download_btn img { height: 18px;}
.videoInner_download .download_btn img.delete   { display:none;}
.videoInner_download .download_btn.flip-btn img.download    { display: none;}
.videoInner_download .download_btn.flip-btn img.delete  { display: block;}
.videoInner_download .delete_btn.flip-btn img.download    { display: block;}
.videoInner_download .delete_btn.flip-btn img.delete  { display: none;}

/*---------------02-03-2017---------------*/

/*--- Responsive ---*/

@media ( min-width: 768px) and (max-width:1023px) {
    .text-caption .daystatus img.timepic { float: none; position: relative; top: 3px;}
    .commentshow ul li .text-caption span.days { position:relative; top:2px;}
}

@media ( min-width: 1024px) {
    .innerContent .search-bar input.search-input	{
		width: 93%;

	}
	.loginpart .login-row label i.login-icon	{
		width: 68px;
	}
}
@media ( min-width: 320px) and (max-width: 550px) {
	.innerContent .search-bar input.search-input	{
		width: 82%;

	}
    .comments-section .comments-header .media-body, .comments-header .media-right 	{
        width: 100%;
        margin-bottom: 10px;
    }

}
@media ( min-width: 320px) and (max-width: 767px) {
	.quiz_inner .quiz_answers {
		padding-bottom: 240px;
	}
    .subscriptions-table table tbody tr td.action	{
        margin-left: 0px;
        margin-right: 0px;
    }
    .text-caption .daystatus    { margin-top:5px;}
}

@media ( min-width: 321px) and (max-width: 767px) {
    
    .text-caption .daystatus img.timepic    { float:none; position:relative; top:2px;}
}

.learning-txt {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 15px 0 0 0;
    font-size: 1.1em;
    text-align: center;
}
